<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361301911909-1lv1rqvcub2sorsip4kjjcv4hesp1sbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361301911909-1lv1rqvcub2sorsip4kjjcv4hesp1sbs</string>
	<key>API_KEY</key>
	<string>AIzaSyADJ8UuPE47SNC-yVMfNyB8RzwP1FVzgRc</string>
	<key>GCM_SENDER_ID</key>
	<string>361301911909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-codeclau-40ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-codeclau-40ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361301911909:ios:14908eaee85a59acc9198c</string>
</dict>
</plist>